<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- 名称，要全局唯一 -->
    <key>Label</key>
    <string>com.my_unsplash.wallpaper.downloader</string>

    <!-- 要运行的程序， 如果省略这个选项，会把ProgramArguments的第一个
    元素作为要运行的程序 -->
    <key>Program</key>
    <string>/Users/mio/Work/unsplash_wallpaper_autodownload/auto_download_pic.sh</string>

    <!-- 命令， 第一个为命令，其它为参数-->
    <!-- <key>ProgramArguments</key>
    <array>
      <string>/Users/uniflor/script.sh</string>
    </array> -->

    <key>StartInterval</key>
    <integer>60</integer>

    <!-- 标准输出文件 -->
    <key>StandardOutPath</key>
    <string>/Users/mio/Downloads/my_unsplash.log</string>

    <!-- 标准错误输出文件 -->
    <key>StandardErrorPath</key>
    <string>/Users/mio/Downloads/my_unsplash.err.log</string>

  </dict>
</plist>
